@charset "UTF-8";
/* mv */
.mainVisual {
  /* height: 100vh; */
  height: 850px;
  background: #2E5773;
  width: 100%;
  color: #fff;
  position: relative;
  overflow: hidden; /* はみ出させない */
}
.mainVisual__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.mainVisual__img {
  position: relative;
  background-image: url(/mv.png);
  width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 420px;
}
.mainVisual__img > div {
  position: absolute;
  width: 92%!important;
  max-width: none!important;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
}
.topic {
  width: 50%;
}
.topic__title {
  font-size: 6.4rem;
  line-height: 1.2;
  font-family: var(--font-zen-kurenaido), sans-serif;
  font-weight: 400;
  font-style: normal;
}
.animate span {
	display: inline-block;
}
.animate span:nth-of-type(2) {
	animation-delay: .05s;
}
.animate span:nth-of-type(3) {
	animation-delay: .1s;
}
.animate span:nth-of-type(4) {
	animation-delay: .15s;
}
.animate span:nth-of-type(5) {
	animation-delay: .2s;
}
.animate span:nth-of-type(6) {
	animation-delay: .25s;
}
.animate span:nth-of-type(7) {
	animation-delay: .3s;
}
.animate span:nth-of-type(8) {
	animation-delay: .35s;
}
.animate span:nth-of-type(9) {
	animation-delay: .4s;
}
.animate span:nth-of-type(10) {
	animation-delay: .45s;
}
.animate span:nth-of-type(11) {
	animation-delay: .5s;
}
.animate span:nth-of-type(12) {
	animation-delay: .55s;
}
.animate span:nth-of-type(13) {
	animation-delay: .6s;
}
.animate span:nth-of-type(14) {
	animation-delay: .65s;
}
.animate span:nth-of-type(15) {
	animation-delay: .7s;
}
.animate span:nth-of-type(16) {
	animation-delay: .75s;
}
.animate span:nth-of-type(17) {
	animation-delay: .8s;
}
.animate span {
	opacity: 0;
	transform: translate(0, -100px) rotate(360deg) scale(0);
	animation: dropVanish .5s forwards;
}
@keyframes dropVanish {
	30% {
		transform: translate(0, -50px) rotate(180deg) scale(1);
	}
	100% {
		transform: translate(0, 20px) scale(.8) rotate(0deg);
		opacity: 1;
	}
}
.topic__txt {
  font-size: 1.6rem;
  width: 90%;
  margin: 40px auto;
}
.bubble-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.bubble {
  background-color: #588BAE; /* 水色っぽい */
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width:769px) {
  .mainVisual {
    height: 970px;
  }
  .mainVisual__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    flex-direction: column;
  }
  .mainVisual__img {
    width: 360px;
    height: 300px;
  }
  .mainVisual__img .slick-list {
    width: 90%!important;
    top: 6%;
    left: 5%;
  }
  .topic__txt {
    font-size: 1.4rem;
    margin: 65px auto;
    width: 100%;
  }
  .topic {
    width: 100%;
  }
  .topic__title {
    font-size: 4.3rem;
    line-height: 1.2;
    letter-spacing: 0em;
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
}

/* header */
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 50px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header__logo {
  width: 35px;
  margin-right: 10px;
}
.header__topic {
  font-size: 2.5rem;
}
.header__topic a {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  margin: 0 15px;
  font-size: 1.6rem;
}
.nav__item:not(.contact):hover {
  opacity: .7;
}
.nav__menu-sp,
.nav__hum {
  display: none;
}
.nav__item.contact a {
  padding: 20px 30px;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 100vh;
  background: linear-gradient(270deg, #d78045, #d2a02c, #d78045);
  background-size: 200% 200%;
  animation: GradientMove 3s ease infinite;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
@keyframes GradientMove {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
.nav__item.contact a:hover {
  --tw-shadow-color: rgba(246, 168, 59, 0.5);
  --tw-shadow: var(--tw-shadow-colored);
  transform: translateY(-2px);
}
.nav__item.contact a span {
  position: relative;
  z-index: 2;
  color: #fff;
}

@media screen and (max-width:769px) {
  /* header */
  .header-flex {
    padding: 15px 0px 15px 15px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    align-items: center;
  }
  .header__logo {
    width: 25px;
    margin-right: 10px;
  }
  .nav__menu {
    display: none;
  }
  .nav__menu-sp,
  .nav__menu-sp > .nav__menu {
    display: block;
  }
  .nav__menu-sp {
    background: #fff;
    transform: translateX(-100%);
    transition: transform 0.4s;
    padding: 75px 10px;
    display: inline-block;
    width: 100%;
    margin-top: 70px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    color: #1a1a1a;
  }
  .nav__list {
    display: block;
  }
  .nav__item {
    padding: 20px 10px;
    border-top: 1px solid #1a1a1a;
    font-size: 1.5rem;
    position: relative;
    margin: 0;
  }
  .nav__item a {
    width: 100%;
    display: block;
  }
  .nav__item::before {
    content: "";
    width: 8px;
    height: 2px;
    background: #1a1a1a;
    position: absolute;
    top: 45%;
    right: 5%;
    transform: translateY(-50%) rotate(45deg);
  }
  .nav__item::after {
    content: "";
    width: 8px;
    height: 2px;
    background: #1a1a1a;
    position: absolute;
    top: 55%;
    right: 5%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .nav__item:last-of-type {
    border-bottom: 1px solid #1a1a1a;
  }
  .nav__hum {
    /*ボタン内側の基点となるためrelativeを指定。
  追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
    display: block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
  /*ボタン内側*/
  .nav__hum span {
    display: inline-block;
    transition: all .4s;
    /*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
  }
  .nav__hum span:nth-of-type(1) {
    top: 15px;
  }
  .nav__hum span:nth-of-type(2) {
    top: 23px;
  }
  .nav__hum span:nth-of-type(3) {
    top: 31px;
  }
  .header__topic {
    font-size: 1.8rem;
  }
  /*activeクラスが付与されると線が回転して×に*/
  .nav__hum.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .nav__hum.active span:nth-of-type(2) {
    opacity: 0;
    /*真ん中の線は透過*/
  }
  .nav__hum.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
  .nav__menu-sp.active {
    transform: translateX(0);
  }
  .nav__menu-sp  .contactBtn {
    margin-top: 75px;
  }
}

/* contactBtn */
.contactBtn {
  text-align: center;
  padding-bottom: 100px;
}
.contactBtn a {
  padding: 20px 30px;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 100vh;
  background: linear-gradient(270deg, #d78045, #d2a02c, #d78045);
  background-size: 200% 200%;
  animation: GradientMove 3s ease infinite;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: box-shadow 0.5s ease;
}
@keyframes GradientMove {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
.contactBtn a:hover {
  --tw-shadow-color: rgba(246, 168, 59, 0.5);
  --tw-shadow: var(--tw-shadow-colored);
}
.contactBtn a span {
  position: relative;
  z-index: 2;
  color: #fff;
}