@charset "UTF-8";

/*==========================
common
==========================*/
html {
  font-size: 62.5%;
}
body {
  font-family: var(--font-noto-sans), "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Yu Gothic", "Meiryo", sans-serif;
  font-style: normal;
  color: #323232;
  background: #fff;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  font-size: 1.6rem;
  line-height: 1.7;
}
main {
  background: url(/background03.png) top center / contain no-repeat fixed;
}
h2 {
  font-size: 2.6rem;
  font-weight: bold;
  position: relative;
  padding: 1rem 2rem;
  border-bottom: 6px solid #588BAE;
  width: 400px;
  margin-bottom: 40px;
}

h2:before {
position: absolute;
bottom: -6px;
left: 0;
width: 20%;
height: 6px;
content: '';
background: #2E5773;
}

@media screen and (max-width:769px) {
  main {
    background: none;
  }
  p {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 2.3rem;
    font-weight: bold;
    position: relative;
    padding: 1rem 2rem;
    border-bottom: 6px solid #588BAE;
    width: 290px;
    margin-bottom: 15px;
  }
  h2:before {
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 20%;
    height: 6px;
    content: '';
    background: #2E5773;
    }
}

.spOnly {
  display: none;
}
.pcOnly {
  display: block;
}

/* contactBtn */
.contactBtn {
  text-align: center;
  padding-bottom: 100px;
}
.contactBtn a {
  padding: 20px 30px;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 100vh;
  background: linear-gradient(270deg, #d78045, #d2a02c, #d78045);
  background-size: 200% 200%;
  animation: GradientMove 3s ease infinite;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: box-shadow 0.5s ease;
}
@keyframes GradientMove {
  0% { background-position: 0% 50% }
  50% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}
.contactBtn a:hover {
  --tw-shadow-color: rgba(246, 168, 59, 0.5);
  --tw-shadow: var(--tw-shadow-colored);
}
.contactBtn a span {
  position: relative;
  z-index: 2;
  color: #fff;
}

tbody {
  border-radius: 10px;
}
th, td {
  border-bottom: 1px solid #1a1a1a;
  border-left: 1px solid #1a1a1a;
  padding: 30px 12px;
  text-align: center;
  vertical-align: middle;
}
th {
  border-top: 1px solid #1a1a1a;
  color: #fff;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.1;
  width: 300px;
}
td {
  font-size: 1.6rem;
}

th span {
  font-size: 1.6rem;
  font-weight: normal;
}
td strong {
  font-size: 2.4rem;
  font-size: bold;
}

@media screen and (max-width:769px) {

  tbody {
    border-radius: 10px;
  }
  th, td {
    padding: 20px 8px;
  }
  th {
    font-size: 2rem;
    width: 280px;
  }
  td {
    font-size: 1.4rem;
  }
  th span {
    font-size: 1.4rem;
    font-weight: normal;
  }
  td strong {
    font-size: 2rem;
    font-size: bold;
  }
}
